body {
    background-color: deepskyblue;
    font-family: Rockwell;
    color: midnightblue;
}

h1 {
    color: midnightblue;
    font-family: Rockwell;
}

p {
    color: midnightblue;
    font-family: Rockwell;
    font-size: 25px;
}

h2 {
    color: midnightblue;
    font-family: Rockwell;
    font-size: 35px;
}

nav {
    font-family: Rockwell;
    font-size: 35px;
    box-shadow: 5px;
}

.navbar-brand {
    color: midnightblue;
    font-family: Rockwell;
    font-size: 55px;
}

header {
    background-color: lightskyblue;
}

.card {
    border-radius: 15px;
    background-color: lightskyblue;
    box-shadow: 10px;
}
